:root {
    --primary: #000;
    --secondary: #82301A;
    --logo-color : #7E4C39;
    --button-text: #5E2E1A;
    --background: #F7F7F7;
    --weight: #B08439;
    --line: #B9732A;
    --background-button: #F9C14C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--background);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 6%;
    background-color: var(--background);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar.scroll {
    background-color: rgba(247, 247, 247, 0.9);
}

.navbar .navbar-logo img {
    width: 5.5rem;
}

.navbar .navbar-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.navbar .navbar-logo a {
    color: var(--logo-color);
    text-decoration: none;
    font-size: 2.7rem;
    font-weight: 700;
}

.navbar .navbar-nav a {
    color: var(--primary);
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 500;
    margin: 0 1.5rem;
}

.navbar .navbar-nav a:hover {
    color: var(--secondary);
}

.navbar #hamburger-menu {
    display: none;
}

/* Hero Section */
.hero {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    min-height: 100vh;
    padding: 4rem 6%;
    padding-top: 10rem;
}

.hero .content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.hero .content h1 {
    color: var(--primary);
    font-size: 3.5rem;
    padding-bottom: 1.5rem;
    font-weight: 700;
}

.hero .content h1 span {
    font-size: 4rem;
}

.hero .content p{
    color: var(--primary);
    font-size: 1.7rem;
    padding-bottom: 5rem;
    font-weight: 300;
}

.hero .content .tablet-view {
    display: none;
}

.hero .content a {
    color: var(--button-text);
    font-size: 2rem;
    font-weight: 600;
    background-color: var(--background-button);
    padding: 1.2rem 6rem;
    border-radius: 0.5rem;
}

.hero .content a:hover {
    background-color: var(--background);
    border: 3px solid var(--background-button);
    font-weight: 500;
}

.hero .image {
    width: 50%;
    text-align: right;
}

.hero .image img {
    width: 80%;
}

/* Tentang Kami */
.tentang-kami,
.menu-kami,
.keunggulan-produk-kami {
    padding: 5rem 6% 1.5rem;
}

.tentang-kami .judul,
.menu-kami .judul,
.keunggulan-produk-kami .judul {
    text-align: center;
    margin-bottom: 4rem;
}

.tentang-kami .judul h2,
.menu-kami .judul h2,
.keunggulan-produk-kami .judul h2 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
}

.hero .content h1 span,
.tentang-kami .judul h2 span,
.menu-kami .judul h2 span,
.keunggulan-produk-kami .judul h2 span {
    color: var(--secondary);
}

.tentang-kami .judul hr,
.menu-kami .judul hr,
.keunggulan-produk-kami .judul hr {
    margin: auto;
    border: none;
    width: 60%;
    border-top: 0.3rem solid var(--line);
}

.tentang-kami .content {
    display: block;
    padding: 0 2%;
}

.tentang-kami .content .image img {
    width: 100%;
    height: 40rem;
}

.tentang-kami .content .keterangan {
    display: block;
}

.tentang-kami .content .keterangan h2 {
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: 1.5rem;
}

.tentang-kami .content .keterangan p {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2;
    padding-bottom: 2rem;
}

/* Menu Kami */
.menu-kami .row {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.menu-kami .row .product {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5rem;
}

.menu-kami .row .product .image {
    display: flex;
    justify-content: flex-end;
    width: 45%;
}

.menu-kami .row .product .image .image-detail {
    width: fit-content;
    border: 1px solid var(--primary);
    border-radius: 0.5rem;
    background-color: white;
    padding: 4rem 8rem;
}

.menu-kami .row .product .image .image-detail img {
    height: 30rem;
}

.menu-kami .row .product .keterangan {
    width: 50%;
}

.menu-kami .row .product .keterangan h3 {
    font-size: 2.4rem;
    font-weight: 600;
    padding-bottom: 1.2rem;
}

.menu-kami .row .product .keterangan p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.8;
    padding-bottom: 2rem;
}

.menu-kami .row .product .keterangan .weight {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2rem;
}

.menu-kami .row .product .keterangan .weight img {
    width: 4rem;
}

.menu-kami .row .product .keterangan .weight p {
    font-size: 1.6rem;
    padding: 0;
    color: var(--weight);
    font-weight: 600;
}

.menu-kami .row .product .keterangan h4 {
    font-size: 2.2rem;
    font-weight: 600;
    padding-bottom: 1.5rem;
}

.menu-kami .row .product .keterangan a {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.2rem 3.2rem;
    gap: 1.2rem;
    background-color: var(--background-button);
    border-radius: 0.5rem;
}

.menu-kami .row .product .keterangan a:hover {
    background-color: var(--background);
    border: 3px solid var(--background-button);
}

.menu-kami .row .product .keterangan a p {
    color: var(--button-text);
    font-size: 1.7rem;
    font-weight: 600;
    padding: 0;
}

/* Keunggulan Produk Kami */
.keunggulan-produk-kami .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 8rem 2rem;
}

.keunggulan-produk-kami .content .card {
    text-align: center;
}

.keunggulan-produk-kami .content .card img {
    height: 50%;
    padding-bottom: 1rem;
}

.keunggulan-produk-kami .content .card .keterangan h2 {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.keunggulan-produk-kami .content .card .keterangan p {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2;
    padding: 0 5%;
}

/* Footer */
footer {
    border-top: 2px solid var(--primary);
    width: 100%;
    color: var(--primary);
    margin-top: 5rem;
    padding: 2rem 7% ;
    text-align: left;
    background-color: var(--background_color);
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 5rem;
}

footer .container .description {
    display: block;
}

footer .container .description .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1.5rem;
}

footer .container .description .logo h2,
footer .container .description h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0;
}

footer .container .description .logo img {
    height: 4rem;
}

footer .container .description.pt {
    padding-top: 0.2rem;
}

footer .container .description h2 {
    font-weight: 600;
    margin-bottom: 2rem;
}

footer .container .description p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2;
}

footer .container .description .hashtag {
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 1.5rem;
}

footer .container .description .socials img,
footer .container .description .subdescription img {
    height: 3rem;
}

footer .container .description .subdescription h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

footer .container .description .subdescription p {
    font-size: 1.1rem;
}

footer .container .description .subdescription,
footer .container .description .socials,
footer .container .description .socials a {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 2rem;
}

footer .container .description .socials,
footer .container .description .socials a {
    align-items: center;
}

footer .container .description .socials h3 {
    font-weight: 500;
    font-size: 1.5rem;
}

footer .container .description .socials a {
    gap: 1rem;
    color: var(--primary);
}

footer .container .description .socials a:hover {
    color: var(--secondary);
}

footer .container .description .socials a p {
    font-size: 1.4rem;
    font-weight: 400;
}

footer .container .description.pad {
    padding-left: 20%;
}

/* Copyright */
.copyright {
    width: 100%;
    text-align: center;
    padding-top: 1.2rem;
    color: var(--background);
    background-color: var(--secondary);
    height: 6rem;
    font-size: 2rem;
}

/* Media Queries */
@media (max-width: 1669px) {
    html {
        font-size: 90%;
    }

    footer .container .description.pad {
        padding-left: 0;
    }
}

@media (max-width: 1600px) {
    html {
        font-size: 85%;
    }
}

@media (max-width: 1500px) {
    html {
        font-size: 80%;
    }

    .hero .image {
        width: 80%;
    }
}

@media (max-width: 1400px) {
    html {
        font-size: 75%;
    }
}

@media (max-width: 1350px) {
    html {
        font-size: 70%;
    }
}

@media (max-width: 1270px) {
    html {
        font-size: 65%;
    }

    footer .container {
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    }
}

@media (max-width: 1200px) {
    .navbar .navbar-logo a {
        font-size: 3rem;
    }

    .navbar #hamburger-menu {
        color: var(--primary);
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--background);
        width: 25rem;
        height: 100vh;
        transition: 0.3s;
        overflow-x: hidden;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: var(--background_color);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2.8rem;
    } 

    .hero {
        padding-top: 15rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10rem;
    }

    .hero .content h1 {
        font-size: 5rem;
    }

    .hero .content h1 span{
        font-size: 5.5rem;
    }

    .hero .content p {
        font-size: 2.5rem;
    }

    .hero .desktop-view {
        display: none;
    }

    .hero .content .tablet-view {
        display: inline-block;
    }

    .hero .content {
        justify-content: center;
        align-items: center;
    }

    .hero .content img {
        width: 60%;
        margin-bottom: 5%;
    }

    .hero .content a {
        width: 70%;
        padding: 2rem 0;
        height: 7rem;
    }

    .hero .content p br {
        display: none;
    }

    .menu-kami .row {
        gap: 10rem;
    }

    .menu-kami .row .product {
        gap: 2rem;
    }

    footer .container .description .logo h2,
    footer .container .description h2 {
        font-size: 2.5rem;
    }

    footer .container .description p,
    footer .container .description .subdescription h3,
    footer .container .description .socials h3 {
        font-size: 2rem;
    }

    footer .container .description .subdescription p {
        font-size: 1.5rem;
    }

    footer .container .description .socials a p {
        font-size: 1.8rem;
    }
}

@media (max-width: 1100px) {
    .menu-kami .row .product {
        padding: 0 2%;
        flex-direction: column;
    }

    .menu-kami .row .product .image {
        display: block;
        background-color: white;
        width: 100%;
    }

    .menu-kami .row .product .image .image-detail {
        text-align: center;
        width: 100%;
    }

    .menu-kami .row .product .keterangan {
        width: 100%;
    }

    .menu-kami .row .product .keterangan a {
        justify-content: center;
        width: auto;
    }
}

@media (max-width: 990px) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 700px) {
    .hero .content img {
        width: 80%;
    }
}

@media (max-width: 660px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 570px) {
    .hero .content h1 {
        font-size: 3.5rem;
    }

    .hero .content h1 span {
        font-size: 4rem;
    }

    .hero .content p{
        font-size: 1.7rem;
    }

    .tentang-kami .content .image img {
        height: 20rem;
    }

    .keunggulan-produk-kami .judul hr {
        width: 100%;
    }

    .navbar .navbar-logo a {
        font-size: 2.5rem;
    }

    .hero {
        min-height: 85vh;
        padding-top: 15rem;
        padding-bottom: 6rem;
        gap: 0;
    }

    .hero .content img {
        width: 90%;
    }
}
